<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout::styles(#{error.not_found.title})}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header th:insert="~{layout::header(@{/static/img/logo.svg}, #{app.name})}">
</header>
<main class="justify-content-center text-center mt-5 container">
    <img alt="Error" src="/static/img/404.svg" th:src="@{/static/img/404.svg}" width=256 height=256/>
    <h3 th:text="#{error.not_found.description}"></h3>
</main>
</body>
</html>