<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style th:replace="layout::style"></style>
</head>
<body>
<header th:replace="~{layout::header}">
</header>
<main>
    <h1 th:text="${title}"></h1>
    <br>
    <p th:text="${hi}"></p>
    <p th:text="${greeting}">
    </p>
    <p style="font-weight: bold" th:text="${code}"></p>
    <p th:text="${if_not}">
    </p>
    <br>
    <p th:text="#{email.regards}"></p>
    <p th:text="#{email.team}">Vankyle ID Team</p>
</main>
<footer th:replace="layout::footer">
</footer>

</body>
</html>