# Serve a static website in /usr/share/nginx/html
server {
    listen ${FRONTEND_PORT};
    server_name ${FRONTEND_HOST};
    root   /usr/share/nginx/html;
    index index.html;
    location / {
        try_files $uri $uri/ /index.html;
    }
}